html,
body{
	margin: 0;
	font-family: 'Helvetica Neue LT Std';, sans-serif;
}
ul, ol{
	padding-left: 0;
	margin: 0;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
a{
	text-decoration: none;
}
a:hover, a:focus{
	transition: 500ms;
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('fonts/HelveticaNeueLTStd-Blk.eot');
	src: url('fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueLTStd-Blk.woff') format('woff'),
		url('fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype'),
		url('fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('fonts/HelveticaNeueLTStd-Md.eot');
	src: url('fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
		url('fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
		url('fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('fonts/HelveticaNeueLTStd-Lt.eot');
	src: url('fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
		url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
		url('fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('fonts/HelveticaNeueLTStd-Roman.eot');
	src: url('fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
		url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
		url('fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
.header{
	float: left;
}
.header .img-header{
	position: relative;
	z-index: 999;
	margin-bottom: -21px;
}
.main-content{
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	border: 1px solid #e4e4e4;
}
/* header */
.menu{
	width: 100%;
	border-bottom: 3px solid #a39692;
	float: left;
}
.menu li{
	width: 16.66%;
	display: inline-block;
	float: left;
}
.menu li a{
	width: 100%;
	background-color: #d5bab1;
	color: #FFFFFF;
	display: block;
	float: left;
	border-left: 1px solid #ceb4ab;
	padding-top: 30px;
}
.menu li a:hover{
	background-color: #ceb4ab;
}
.menu li a img{
	margin: 15px auto 10px;
}
.menu li a p{
	font-family: 'Arial', sans-serif;
	font-size: 8px;
	letter-spacing: 1.4px;
	text-align: center;
	margin: 5px 0 15px;
	text-transform: uppercase;
}
.content-product{
	float: left;
	margin: 20px 0;
	padding: 0 40px;
}
.content-product .img-product{
	width: 400px;
	max-width: 100%;
	float: left;
	margin: 30px 0;
}
.content-product .text-product{
	max-width: 298px;
	margin: 30px 0;
	padding: 20px 0 0;
	float: left;
	border-top: 1px solid #e4e4e4;
}
.content-product .title{
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #959595;
	margin: 0 0 4px;
	text-align: center;
	width: 450px;
	margin: 30px auto 0;
}
.content-product .subtitle{
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	color: #0a0a0a;
	margin: 0;
	text-align: center;
}
.content-product .text-product p{
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #222222;
	margin: 10px 0;
}
.content-product .text-product ol{
	padding-left: 15px;
}
.content-product .text-product ol li{
	font-size: 11px;
	line-height: 16px;
	font-weight: 500;
	color: #0a0a0a;
}
.content-maquiagem{
	width: 100%;
	float: left;
	margin: 20px 0 0;
	background-color: #FFFFFF;
	position: relative;
	padding-bottom: 63px;
}
.content-maquiagem .container{
	width: 100%;
	float: left;
}
.content-maquiagem .container .col-img{
	width: 400px;
	max-width: 100%;
	float: left;
	margin: 15px 0;
	position: relative;
	z-index: 99;
}
.content-maquiagem .container .col-img img{
	margin: 0 auto;
    transition: 500ms;
}
.content-maquiagem .container .col-img a{
	display: block;
}
.content-maquiagem .container .col-img a:hover{
	opacity: 0.8;
	filter: alpha(opacity=60);
}
.content-maquiagem .container .col-img a span{
	width: 135px;
	margin: 15px 95px 15px;
	display: block;
	background-color: #d5bab1;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	font-weight: 500;
	padding: 5px;
	text-transform: uppercase;
}
.content-comprar{
	width: 100%;
	float: left;	
	position: relative;
	padding-top: 63px;
	background: url('img/bg-textura.jpg') no-repeat top right;
}
.content-comprar .title{
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: #262626;
	text-align: center;
	margin: 55px 0;
}
.content-comprar .title span{
	font-size: 36px;
	font-weight: 500;
	display: block;
}
.content-comprar .bg-grazi{
	margin-top: 50px;
	float: left;
}
.content-comprar .col{
	width: 400px;
	max-width: 100%;
	padding-right: 30px;
	float: right;
}
.content-comprar .img-comprar{
	margin-right: 10px;
}
.content-comprar .col .title2{
	font-size: 13px;
	color: #000000;
	font-weight: 700;
	margin: 10px 0;
	text-transform: uppercase;
	text-align: center;
}
.content-comprar .col .text{
	width: 145px;
	margin: 0 auto;
	font-size: 10px;
	font-weight: 500;
	text-align: center;
	padding: 0 10px;
}
.content-marca{
	width: 100%;
	float: left;
	position: relative;
	background-color: #FFFFFF;
	/*border-bottom: 1px solid #e4e4e4;*/
}
.content-marca::before{
	content: "";
	display: block;
	position: absolute;
	z-index: 9;
	top: 0;
	width: 800px;
	max-width: 100%;
	height: 37px;
	background: url('img/bg-rosa2.png') no-repeat center;
}
.content-marca .img-marca{
	width: 400px;
	max-width: 100%;
	float: left;
}
.content-marca .content-text{
	width: 340px;
	max-width: 100%;
	float: left;
	padding: 0 40px 0 20px;
}
.content-marca .content-text .title{
	font-size: 20px;
	font-weight: 900;
	color: #1d1d1d;
	text-transform: uppercase;
	margin: 60px 0 30px;
}
.content-marca .content-text .text{
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: #1d1d1d;
	margin: 0 0 30px;
}
.content-pagamento{
	width: 100%;
	float: left;
}
.content-pagamento .title{
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 10px 5px;
	border-radius: 30px;
	text-align: center;
	width: 437px;
	max-width: 100%;
	margin: 55px auto;
	position: relative;
	background: #e3a0d1; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e3a0d1 0%, #681e69 74%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #e3a0d1 0%,#681e69 74%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #e3a0d1 0%,#681e69 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3a0d1', endColorstr='#681e69',GradientType=1 );
}
.content-pagamento .title::after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -47.5px;
	right: -50px;
	width: 78px;
	height: 95px;
	margin-left: 5px;
	vertical-align: middle;
	background: url('img/icon-selo.png');
}
.content-pagamento img{
	margin: 5px auto 50px;
}
.hidden{
	display: none;
}
@media (max-width: 767px){
	.hidden{
		display: block;
	}
	.hidden-mb{
		display: none;
	}
	.menu li{
		width: 50%;
	}
	.content-maquiagem .container .col-img{
		width: 100%;
	}
	.content-product .img-product{
		width: 100%;
	}
	.content-product .img-product img{
		margin: 0 auto;
	}
	.content-product .text-product{
		max-width: 100%;
	}
	.content-comprar .col{
		width: 50%;
	}
	.content-marca .img-marca{
		width: 100%;
	}
	.content-marca .img-marca img{
		margin: 0 auto;
	}
	.content-marca .content-text{
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.content-marca .content-text .title{
		margin: 40px 0;
	}
	.content-marca .content-text .text{
		padding: 0 30px;
	}
}